/*
Copied from the wonderful page http://c0ffee.surge.sh

CSS colors that form basic words using "leet speak" as a replacement for letters outside hexadecimal.

This is taken at face value for the completeness of the list, and is not checked for correctness or completeness.
*/



.CW-acidic  { background: #ac1d1c; }
.CW-deific  { background: #de1f1c; }
.CW-booboo  { background: #b00b00; }
.CW-basest  { background: #ba5e57; }
.CW-assess  { background: #a55e55; }
.CW-detest  { background: #de7e57; }
.CW-fascia  { background: #fa5c1a; }
.CW-faeces  { background: #faece5; }
.CW-feasts  { background: #fea575; }
.CW-fat     { background: #fa7;    }
.CW-discos  { background: #d15c05; }
.CW-eat     { background: #ea7;    }
.CW-attest  { background: #a77e57; }
.CW-fed     { background: #fed;    }
.CW-dittos  { background: #d17705; }
.CW-debits  { background: #deb175; }
.CW-cat     { background: #ca7;    }
.CW-debate  { background: #deba7e; }
.CW-coasts  { background: #c0a575; }
.CW-beasts  { background: #bea575; }
.CW-facets  { background: #face75; }
.CW-debase  { background: #deba5e; }
.CW-dacite  { background: #dac17e; }
.CW-bat     { background: #ba7;    }
.CW-diacid  { background: #d1ac1d; }
.CW-boasts  { background: #b0a575; }
.CW-dicots  { background: #d1c075; }
.CW-fiesta  { background: #f1e57a; }
.CW-tatoos  { background: #7a7005; }
.CW-deceit  { background: #dece17; }
.CW-foetid  { background: #f0e71d; }
.CW-tattoo  { background: #7a7700; }
.CW-acacia  { background: #acac1a; }
.CW-cacaos  { background: #caca05; }
.CW-cocoas  { background: #c0c0a5; }
.CW-abbots  { background: #abb075; }
.CW-caddie  { background: #cadd1e; }
.CW-efs     { background: #ef5;    }
.CW-abs     { background: #ab5;    }
.CW-abbess  { background: #abbe55; }
.CW-accost  { background: #acc057; }
.CW-cadets  { background: #cade75; }
.CW-coedit  { background: #c0ed17; }
.CW-defats  { background: #defa75; }
.CW-ado     { background: #ad0;    }
.CW-efface  { background: #efface; }
.CW-effect  { background: #effec7; }
.CW-access  { background: #acce55; }
.CW-acetic  { background: #ace71c; }
.CW-taboos  { background: #7ab005; }
.CW-boffos  { background: #b0ff05; }
.CW-defeat  { background: #defea7; }
.CW-ads     { background: #ad5;    }
.CW-act     { background: #ac7;    }
.CW-befits  { background: #bef175; }
.CW-bet     { background: #be7;    }
.CW-bidets  { background: #b1de75; }
.CW-tactic  { background: #7ac71c; }
.CW-tictoc  { background: #71c70c; }
.CW-tidbit  { background: #71db17; }
.CW-stasis  { background: #57a515; }
.CW-seccos  { background: #5ecc05; }
.CW-bobcat  { background: #b0bca7; }
.CW-static  { background: #57a71c; }
.CW-defect  { background: #defec7; }
.CW-aft     { background: #af7;    }
.CW-deface  { background: #deface; }
.CW-soffit  { background: #50ff17; }
.CW-softie  { background: #50f71e; }
.CW-tsetse  { background: #75e75e; }
.CW-sadist  { background: #5ad157; }
.CW-safest  { background: #5afe57; }
.CW-toasts  { background: #70a575; }
.CW-set     { background: #5e7;    }
.CW-sedate  { background: #5eda7e; }
.CW-siesta  { background: #51e57a; }
.CW-ifs     { background: #1f5;    }
.CW-affect  { background: #affec7; }
.CW-ids     { background: #1d5;    }
.CW-oddest  { background: #0dde57; }
.CW-odessa  { background: #0de55a; }
.CW-defies  { background: #def1e5; }
.CW-sat     { background: #5a7;    }
.CW-iodise  { background: #10d15e; }
.CW-tea     { background: #7ea;    }
.CW-oft     { background: #0f7;    }
.CW-sea     { background: #5ea;    }
.CW-bed     { background: #bed;    }
.CW-its     { background: #175;    }
.CW-tictac  { background: #71c7ac; }
.CW-oat     { background: #0a7;    }
.CW-addict  { background: #add1c7; }
.CW-coffee  { background: #c0ffee; }
.CW-defied  { background: #def1ed; }
.CW-tibias  { background: #71b1a5; }
.CW-steeds  { background: #57eed5; }
.CW-office  { background: #0ff1ce; }
.CW-otitis  { background: #071715; }
.CW-toffee  { background: #70ffee; }
.CW-obsess  { background: #0b5e55; }
.CW-bodice  { background: #b0d1ce; }
.CW-octets  { background: #0c7e75; }
.CW-offset  { background: #0ff5e7; }
.CW-sifted  { background: #51f7ed; }
.CW-tibiae  { background: #71b1ae; }
.CW-beefed  { background: #beefed; }
.CW-deeded  { background: #deeded; }
.CW-seeded  { background: #5eeded; }
.CW-iodide  { background: #10d1de; }
.CW-ode     { background: #0de;    }
.CW-ide     { background: #1de;    }
.CW-sodded  { background: #50dded; }
.CW-secede  { background: #5ecede; }
.CW-ice     { background: #1ce;    }
.CW-tidies  { background: #71d1e5; }
.CW-dieted  { background: #d1e7ed; }
.CW-tidied  { background: #71d1ed; }
.CW-tab     { background: #7ab;    }
.CW-sac     { background: #5ac;    }
.CW-sobbed  { background: #50bbed; }
.CW-accede  { background: #accede; }
.CW-oaf     { background: #0af;    }
.CW-bedded  { background: #bedded; }
.CW-codded  { background: #c0dded; }
.CW-sad     { background: #5ad;    }
.CW-bodies  { background: #b0d1e5; }
.CW-tabbed  { background: #7abbed; }
.CW-states  { background: #57a7e5; }
.CW-staffs  { background: #57aff5; }
.CW-bodied  { background: #b0d1ed; }
.CW-seabed  { background: #5eabed; }
.CW-stated  { background: #57a7ed; }
.CW-ootids  { background: #0071d5; }
.CW-seated  { background: #5ea7ed; }
.CW-ace     { background: #ace;    }
.CW-tad     { background: #7ad;    }
.CW-teases  { background: #7ea5e5; }
.CW-teated  { background: #7ea7ed; }
.CW-cicada  { background: #c1cada; }
.CW-teased  { background: #7ea5ed; }
.CW-bobbed  { background: #b0bbed; }
.CW-settee  { background: #5e77ee; }
.CW-iciest  { background: #1c1e57; }
.CW-ibises  { background: #1b15e5; }
.CW-sassed  { background: #5a55ed; }
.CW-sasses  { background: #5a55e5; }
.CW-sestet  { background: #5e57e7; }
.CW-abated  { background: #aba7ed; }
.CW-abates  { background: #aba7e5; }
.CW-abased  { background: #aba5ed; }
.CW-abases  { background: #aba5e5; }
.CW-cobbed  { background: #c0bbed; }
.CW-oboist  { background: #0b0157; }
.CW-boated  { background: #b0a7ed; }
.CW-idiots  { background: #1d1075; }
.CW-babied  { background: #bab1ed; }
.CW-biased  { background: #b1a5ed; }
.CW-babies  { background: #bab1e5; }
.CW-tossed  { background: #7055ed; }
.CW-biases  { background: #b1a5e5; }
.CW-tosses  { background: #7055e5; }
.CW-tasted  { background: #7a57ed; }
.CW-tastes  { background: #7a57e5; }
.CW-tested  { background: #7e57ed; }
.CW-stiffs  { background: #571ff5; }
.CW-beaded  { background: #beaded; }
.CW-testes  { background: #7e57e5; }
.CW-cabbed  { background: #cabbed; }
.CW-sooted  { background: #5007ed; }
.CW-bad     { background: #bad;    }
.CW-scoffs  { background: #5c0ff5; }
.CW-coated  { background: #c0a7ed; }
.CW-sod     { background: #50d;    }
.CW-ate     { background: #a7e;    }
.CW-stoics  { background: #5701c5; }
.CW-dibbed  { background: #d1bbed; }
.CW-sob     { background: #50b;    }
.CW-tooted  { background: #7007ed; }
.CW-tie     { background: #71e;    }
.CW-dadoes  { background: #dad0e5; }
.CW-bitted  { background: #b177ed; }
.CW-toe     { background: #70e;    }
.CW-tic     { background: #71c;    }
.CW-batted  { background: #ba77ed; }
.CW-ceased  { background: #cea5ed; }
.CW-bossed  { background: #b055ed; }
.CW-dabbed  { background: #dabbed; }
.CW-bosses  { background: #b055e5; }
.CW-ceases  { background: #cea5e5; }
.CW-attics  { background: #a771c5; }
.CW-basted  { background: #ba57ed; }
.CW-cad     { background: #cad;    }
.CW-sit     { background: #517;    }
.CW-abided  { background: #ab1ded; }
.CW-bested  { background: #be57ed; }
.CW-cities  { background: #c171e5; }
.CW-basset  { background: #ba55e7; }
.CW-bastes  { background: #ba57e5; }
.CW-basses  { background: #ba55e5; }
.CW-catted  { background: #ca77ed; }
.CW-aboded  { background: #ab0ded; }
.CW-betide  { background: #be71de; }
.CW-abides  { background: #ab1de5; }
.CW-sot     { background: #507;    }
.CW-boobed  { background: #b00bed; }
.CW-abodes  { background: #ab0de5; }
.CW-booted  { background: #b007ed; }
.CW-boosed  { background: #b005ed; }
.CW-adobes  { background: #ad0be5; }
.CW-aid     { background: #a1d;    }
.CW-cosies  { background: #c051e5; }
.CW-dotted  { background: #d077ed; }
.CW-baited  { background: #ba17ed; }
.CW-booses  { background: #b005e5; }
.CW-casted  { background: #ca57ed; }
.CW-beside  { background: #be51de; }
.CW-scoots  { background: #5c0075; }
.CW-bisect  { background: #b15ec7; }
.CW-castes  { background: #ca57e5; }
.CW-dissed  { background: #d155ed; }
.CW-bid     { background: #b1d;    }
.CW-disses  { background: #d155e5; }
.CW-deseed  { background: #de5eed; }
.CW-basics  { background: #ba51c5; }
.CW-diodes  { background: #d10de5; }
.CW-cod     { background: #c0d;    }
.CW-die     { background: #d1e;    }
.CW-deiced  { background: #de1ced; }
.CW-doe     { background: #d0e;    }
.CW-daises  { background: #da15e5; }
.CW-deices  { background: #de1ce5; }
.CW-decade  { background: #decade; }
.CW-decide  { background: #dec1de; }
.CW-decode  { background: #dec0de; }
.CW-eddied  { background: #edd1ed; }
.CW-edited  { background: #ed17ed; }
.CW-footed  { background: #f007ed; }
.CW-fitted  { background: #f177ed; }
.CW-fobbed  { background: #f0bbed; }
.CW-foe     { background: #f0e;    }
.CW-biotas  { background: #b107a5; }
.CW-fibbed  { background: #f1bbed; }
.CW-fasted  { background: #fa57ed; }
.CW-cob     { background: #c0b;    }
.CW-boa     { background: #b0a;    }
.CW-fatted  { background: #fa77ed; }
.CW-doodad  { background: #d00dad; }
.CW-detect  { background: #de7ec7; }
.CW-eddies  { background: #edd1e5; }
.CW-fib     { background: #f1b;    }
.CW-boosts  { background: #b00575; }
.CW-facies  { background: #fac1e5; }
.CW-bit     { background: #b17;    }
.CW-fad     { background: #fad;    }
.CW-cot     { background: #c07;    }
.CW-dot     { background: #d07;    }
.CW-cab     { background: #cab;    }
.CW-deists  { background: #de1575; }
.CW-ais     { background: #a15;    }
.CW-eta     { background: #e7a;    }
.CW-fit     { background: #f17;    }
.CW-edicts  { background: #ed1c75; }
.CW-facade  { background: #facade; }
.CW-dos     { background: #d05;    }
.CW-cis     { background: #c15;    }
.CW-fiasco  { background: #f1a5c0; }
.CW-besots  { background: #be5075; }
.CW-dab     { background: #dab;    }
.CW-assets  { background: #a55e75; }
.CW-besets  { background: #be5e75; }
.CW-decoct  { background: #dec0c7; }
.CW-cootie  { background: #c0071e; }
.CW-biotic  { background: #b1071c; }
.CW-assist  { background: #a55157; }
.CW-desist  { background: #de5157; }
.CW-estate  { background: #e57a7e; }

