pre, code{
	background-color: rgba(0, 0, 0, 0.10) !important;
	border-radius: 0.5rem !important;
}

pre{
		// border-radius: 0.5rem !important;
	// padding: 0.25rem !important;
}

b, i{
	background-color: #dee !important;
}